@import url("/home/leo/.cache/wal/colors-waybar.css");


* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 20px;
}


window#waybar {
    background-color: transparent;
}


.modules-left,
.modules-center,
.modules-right {
    background-color: @background;
    border-radius: 20px;
    margin-top: 5px;
}

.modules-left {
    margin-left: 7px;
}

.modules-right {
    margin-right: 7px;
}

#cpu,
#memory {
    margin-left: 10px;
}

#idle_inhibitor,
#custom-wl_gammarelay_temperature {
    margin-left: 10px;
}

#custom-vpn {
    margin-left: 5px;
    margin-right: 2px;
}

#workspaces button {
    border-radius: 20px;
    padding-right: 17.5px;
    margin: 1px;
}

#tray {
    margin-left: 10px;
    margin-right: 5px;
}

#network {
    margin-left: 10px;
    margin-right: 20px;
}

#pulseaudio {
    margin-right: 20px;
}

#pulseaudio.microphone,
#backlight {
    margin-right: 3px;
}

#clock,
#battery {
    margin-right: 12px;
}

#custom-power {
    margin-right: 5px;
}

#custom-power {
    color: @color4;
}

#workspaces button.active {
    background-color: @color4;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}
