* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 18px;
    padding: 0px;
    border-radius: 20px;
    color: #66ACED;
}

window#waybar {
    background-color: transparent;
}


.modules-left, .modules-center, .modules-right{
    margin: 6px 10px 0px 10px;
    background-color: #ffffff;
}

/* #workspaces button.active {
    font-weight: bold;
    border-bottom: 3px transparent;
} */


#cpu,
#memory,
#idle_inhibitor,
#workspaces,
#tray,
#network,
#pulseaudio,
#pulseaudio.microphone,
#backlight
#clock,
#battery {
    padding: 0px 10px;
}
