@import url('/home/leo/.cache/wal/colors.css');


#titlebar {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

#nav-bar {
  background-color: var(--background) !important;
}

#urlbar-input-container {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--color4) !important;
  border-radius: 20px !important;
}

#urlbar-background {
  border-radius: 20px !important;
}

#PersonalToolbar {
  background-color: var(--background) !important;
}

.tab-background[selected]{
  background-color: var(--background) !important;
  border: 1px solid var(--color4) !important;
  border-radius: 10px !important;
}

#save-to-pocket-button {
  display: none;
}

/* turn off tab-groups-extention's tab colors */
.identity-color-blue {
  --identity-tab-color: none !important;
  --identity-icon-color: none !important;
}
.identity-color-orange {
  --identity-tab-color: none !important;
  --identity-icon-color: none !important;
}

.titlebar-min{
    appearance: none !important;
/*     background-color: yellow !important;
    height: 0.6em;
    width: 0.6em;
    border-radius: 10px;
    margin: 0.3em !important; */
}

.titlebar-restore{
    appearance: none !important;
/*     background-color: orange !important;
    height: 0.6em;
    width: 0.6em;
    border-radius: 10px;
    margin: 0.3em !important; */
}

.titlebar-close{
    appearance: none !important;
    background-color: red !important;
    height: 0.7em;
    width: 0.7em;
    border-radius: 10px;
    margin: 0.3em !important;
}